#title-slide .date::before {
  content:url('../imgs/metacom2023.png');
  position: relative;
  margin: auto;
  display: block;
}

#title-slide .date::after {
  content: "Kyoto, Japan";
  position: relative;
  margin: auto;
  display: block;
}
